<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Credentials</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <span class="navbar-brand h2" style="color: rgba(4, 150, 255, 0.9)">Super Duper Cloud Storage</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <div class="navbar-nav mr-auto"></div>
            <div class="form-inline my-2 my-md-0">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-secondary" value="Logout">
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/file}">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/note}" >Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/credential}">Credential</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container justify-content-center" >
    <div class="alert alert-success fill-parent" th:if="${success}">
        <h1 class="display-5">Success</h1>
        <span>Your changes were successfully saved. Click <a>here</a> to continue.</span>
    </div>
    <div class="alert alert-danger fill-parent" th:if="${changeError}">
        <h1 class="display-5">Error</h1>
        <span>Your changes were not saved. Click <a>here</a> to continue.</span>
    </div>
    <div class="alert alert-danger fill-parent" th:if="${error}">
        <h1 class="display-5">Error</h1>
        <span th:text="${errorMessage}"></span>
        <span>Click <a>here</a> to continue.</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-info text-white float-right" data-toggle="modal" data-target="#createModal">+ Add a New Note</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-sm table-bordered">
                    <thead>
                    <tr>
                        <th>  </th>
                        <th>URL</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="credential : ${credentials}">
                        <td>
                            <form th:action="@{/credential/delete/{id}(id=${credential.credentialid})}" method="post">
                                <a th:href="@{/credential/edit/{id}(id=${credential.credentialid})}" class="btn btn-success">Edit</a>
                                <input type="submit" class="btn btn-danger" value="Delete" />
                            </form>
                        </td>
                        <td th:text="${credential.url}"></td>
                        <td th:text="${credential.username}"></td>
                        <td th:text="${credential.password}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/credential/create}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="urlCreate" class="col-form-label">URL:</label>
                        <input type="text" class="form-control" id="urlCreate" name="url" />
                    </div>
                    <div class="form-group">
                        <label for="usernameCreate" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="usernameCreate" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="passwordCreate" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="passwordCreate" name="password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Credential</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${editcredential}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/credential/edit/{id}(id=${editcredential.credentialid})}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="url" class="col-form-label">URL:</label>
                        <input type="text" class="form-control" id="url" name="url" th:value="${editcredential.url}" />
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${editcredential.username}" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="password" name="password" th:value="${editcredential.password}" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Credential</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/jquery-slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>

<script>
    $(document).ready(function() {
        $('#editModal').modal();
    })
</script>
</body>
</html>